<style>
/* Estilo para a div do rodapé */
.rodape {
  text-align: center;
  background-color: #6557e0;
  color: #fff;
  padding: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* Estilo para o h5 dentro da div do rodapé */
.rodape .texto_rodape h5 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

/* Estilo para o texto de copyright dentro da div do rodapé */
.rodape .textoRodape {
  font-size: 0.7em;
  color: #fff;
  margin-top: 10px;
}

</style>
<div class="rodape">
    <div class="texto_rodape">
        <h5>Agradecemos pela escolha</h5>
    </div>
    <div class="textoRodape"> 
        ©2023 Copyright: Nathalia Santos, Sabrina Beatriz &  Victória Macedo
    </div>
</div>
